<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
<title>Expertum - Free HTML Template by WowThemes.net</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel='stylesheet' href='assets/css/bootstrap.min.css' type='text/css' media='all'/>
<link rel='stylesheet' href='assets/css/animate.min.css' type='text/css' media='all'/>
<link rel='stylesheet' href='style.css' type='text/css' media='all'/>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C700italic%2C300%2C400%2C700%2C800%7CMontserrat%3A300italic%2C400italic%2C700italic%2C300%2C400%2C700%7CDosis%3A400%2C700&#038;ver=4.5' type='text/css' media='all'/>
<link rel='stylesheet' href='icons/elegantline/style.css' type='text/css' media='all'/>
<link rel='stylesheet' href='assets/css/font-awesome.min.css' type='text/css' media='all' />
<link rel='stylesheet' href='assets/css/flexslider.css' type='text/css' media='all'/>
<style>
.content-text {
    text-align: left;
    font-weight: bold;
}
  td {
    padding: 0 15px;
  }

</style>

</head>
<body class="frontpage">
<div class="page-loader">
	<img src="assets/img/loader.gif" alt="loader">
</div>

<!-- Header
================================================== -->
<header id="header">
<div id="mega-menu" class="header header2 header-sticky primary-menu icons-no default-skin zoomIn align-right">
	<nav class="navbar navbar-default redq">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="navbar">
			<a class="mobile-menu-close"><i class="fa fa-close"></i></a>
			<div class="menu-top-menu-container">
				<ul id="menu-top-menu" class="nav navbar-nav nav-list">
					<li><a href="#home">Home</a></li>
					<li><a href="#github_resume">Github_Resume</a></li>
				</ul>
			</div>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
	</nav>
</div>
</header>	

<!-- GitHub Resume
================================================== -->
<section id="github_resume" class="whitetext" style="padding:60px;background-color:#50dcc9;" >
	<div class="container">
		<div class="so-widget-sow-headline">
			<div class="sow-headline content-text">
				<h1 class="whitetext"><span th:text="${githubUserResume.ghUserName}" th:remove="tag"/>'s GitHub Resume</h1>
			</div>
		</div>
		<br/>
		<div class="w960 content-text">
		<h3>General details</h3>
		<p>
		<li>Github username: <span th:text="${githubUserResume.ghUserName}" th:remove="tag"></li>
		<li>Github profile page: <u><a th:href="${githubUserResume.ghPageURL}" th:text="${githubUserResume.ghPageURL}"/></u></li>
		<li>Blog page: <u><a th:href="${githubUserResume.blogURL}" th:text="${#strings.defaultString(githubUserResume.blogURL, 'None')}"/></u></li>
		</p>
		</br>
		<h3>Language expertise aggregate across his repos</h3>
		<span th:if="${githubUserResume.languageAggr != null && githubUserResume.languageAggr.size != 0}">
		<table>
		   <tr>
		   <th>Programming Language</th>
		   <th>Percentage</th>
		   </tr>
		   <tr th:each="langAggr : ${githubUserResume.languageAggr}">
			<td th:text="${#strings.defaultString(langAggr.key,'Unknown')}"/>
			<td th:text="${langAggr.value}"/>
		   </tr>
		</table>
		</span>
		<span th:if="${githubUserResume.languageAggr == null || githubUserResume.languageAggr.size == 0}">
		None</br>
		</span>
		</br>
		<h3>Owned repositories</h3>
		<span th:if="${githubUserResume.ownedRepos != null && githubUserResume.ownedRepos.size != 0}">
		<th:block th:each="repo : ${githubUserResume.ownedRepos}">
			<p>
		<li><u>Name:</u> <span th:text="${repo.name}" th:remove="tag"></li>	
		<li><u>URL: <a th:href="${repo.url}" th:text="${repo.url}"/></u></li>
		<li><u>Description:</u> <span th:text="${repo.description}" th:remove="tag"></li>
		<li><u>Language:</u> <span th:text="${#strings.defaultString(repo.language, 'Unknown')}" th:remove="tag"></li>
		<li><u>Size:</u> <span th:text="${repo.size}" th:remove="tag"></li>
		</p>
		--------------------------------------------
			</th:block>
		</span>
		<span th:if="${githubUserResume.ownedRepos == null || githubUserResume.ownedRepos.size == 0}">
		None
		</span>
		</div>
	</div>
</section>

<!-- CONTACT
================================================== -->
<section id="contact" class="margintop60 nopadding" style="background:#292929;">
	<div class="col-md-6 whitetext" style="padding: 60px;">
		<div class="textwidget">
			<div class="bookarea">
				CONTACT<br>
				<span class="bordered">Aravind Pemetsa</span><br>
				<span class="bordered">aravindingermany@gmail.com</span><br>
				<span class="call">+91 81473 22191</span>
			</div>
		</div>
	</div>
	<div class="col-md-6 whitetext" style="padding: 60px; background-color: #50dcc9;">
		<div class="textwidget">
			<h2 class="box">Say <b>Hello</b></h2>
			<div class="bottomform">
				<form method="post" action="contact/bottomcontact.php" id="bottomcontactform">
					<div class="form">
						<div class="row">
								<span class="col-md-6">
									<input type="text" name="namebottom" placeholder="Name *">
								</span>

							<span class="col-md-6">
									<input type="text" name="emailbottom" placeholder="E-mail *">
								</span>

						</div>
						<div class="clearfix"></div>
						<textarea name="comment" rows="7" placeholder="Message *"></textarea>
						<input type="submit" id="submit2" class="clearfix btn" value="Send">
					</div>
				</form>
				<div class="done2">
					<div class="alert alert-success">
						<button type="button" class="close" data-dismiss="alert">×</button>
						Your message has been sent. Thank you!
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</section>
	
<!-- FOOTER
================================================== -->
<footer id="footer" class="footer2">
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<small>
					&copy; <a href="https://www.wowthemes.net/">
							  Expertum - Free HTML Template by WowThemes.net
							</a>
					</small>
				</div>
				<div class="col-md-6 text-right">
					<div class="footer-menu">
						<ul id="menu-footer-links" class="menu">
							<li><a href="#"><i class="fa fa-facebook"></i> Like us on Facebook</a></li>
							<li><a href="#"><i class="fa fa-twitter"></i> Follow us on Twitter</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<!-- SCRIPTS
================================================== -->
<script src="assets/js/jquery.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="contact/topvalidate.js"></script>
<script src="contact/bottomvalidate.js"></script>

</body>
</html>
